.nav {
	background-color: transparent;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 100%;
	// padding: 15px 10px;
	z-index: 100;
	top: 0;
	font-size: 2rem;

	&__brand {
		background: transparent;
		padding: 15px 10px;
	}

	&__item {
		background: transparent;
	}

	&__link {
		text-decoration: none;
		margin: 0.2rem;
		padding: 1rem 1rem;
		background: inherit;
		color: white;
	}

	&__list {
		display: flex;
		list-style: none;
		background: transparent;
		margin: 0;
		padding: 15px 10px;
	}

	&__icon {
		position: fixed;
		// padding: 10px 10px;
		cursor: pointer;
		z-index: 1;
		display: none;
		font-size: 2rem;
	}

	&__btn {
		display: none;
	}

	&__logo {
		max-width: 100%;
		height: 50px;
		background: transparent;
		margin: 0 1rem;
	}
}

.nav.active {
	// background: rgb(26, 169, 130);
	// background: linear-gradient(0deg, rgba(26, 169, 130, 1) 0%, rgba(201, 219, 209, 1) 120%);
	background: rgba(29, 168, 138, 0.85);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 922px) {
	.nav {
		background: rgba(29, 168, 138, 0.85);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border: 1px solid rgba(255, 255, 255, 0.18);

		height: 50px;
		position: relative;
		top: 0;
		width: 100%;
		z-index: 99;

		&__icon {
			position: static;
			display: block;
			margin-left: auto;
			padding: 5px;
			background: transparent;
			color: white;
		}

		&__brand {
			display: none;
		}

		&__list {
			position: absolute;
			top: 0;
			left: 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
		}

		&__item {
			opacity: 0;
			transform: translateX(100%);
			width: 100%;
			text-align: center;

			&:hover {
				opacity: 0.8;
			}
		}

		&__btn {
			&:checked ~ .nav__list {
				opacity: 1;
				clip-path: circle(100% at center);
				height: 100vh;
				background: rgb(26, 169, 130);
				background: linear-gradient(
					0deg,
					rgba(26, 169, 130, 1) 0%,
					rgba(201, 219, 209, 1) 120%
				);

				.nav__item {
					opacity: 1;
					transform: translateX(0);
					transition: 0.4s ease-in-out 1s,
						transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;

					&:nth-of-type(1) {
						transition-delay: 0.2s;
					}
					&:nth-of-type(2) {
						transition-delay: 0.3s;
					}
					&:nth-of-type(3) {
						transition-delay: 0.4s;
					}
					&:nth-of-type(4) {
						transition-delay: 0.5s;
					}
				}

				.nav__icon {
					color: black;
				}
			}
		}
	}
}
